html, body {
    height: 100%;
    width: 100%;
}
.cus-icon {
    color: #000000;
}
::-webkit-scrollbar {
    display: none;
}
.main-content {
    height: 100%;
    width: 100%;
}
.action-bar-container {
    position: fixed;
    left: 8px;
    right: 8px;
    bottom: 10px;
    text-align: center;
}
.action-bar {
    width: 950px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,.3); 
}
.btn-nav {
    width: 180px;
    margin: auto 10px;
}
.btn-fun {
    width: 40px;
    margin: auto 10px;
}
.action-box {
    border-radius: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.1);
}
.nav-box {
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: rgba(255,255,255,.3);
    color: rgba(255,255,255,.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-box-right {
    right: 0px;
    width: 7.5%;
    height: 100%;
}
.nav-box-left {
    left: 0px;
    width: 7.5%;
    height: 100%; 
}
.image-zone, image-editor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.image-content {
    max-height:100%;
    max-width:100%;
    flex: 1 0 0;
    object-fit: scale-down;
    opacity: 0;
}
.image-content-fade {
    transition: opacity 1s;
    opacity: 1;
}
.image-shadow {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.image-content-shadow {
    max-height:100%;
    max-width:100%;
    flex: 1 0 0;
    object-fit: scale-down;
}
.image-content-shadow-fade {
    transition: opacity .5s;
    opacity: 0;
}
.fade-action-bar-enter-active {
  transition: opacity .4s;
}
.fade-action-bar-leave-active {
  transition: opacity 4s;
}
.fade-action-bar-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-nav-box-left-enter-active, .fade-nav-box-right-enter-active {
  transition: opacity .4s;
}
.fade-nav-box-left-leave-active, .fade-nav-box-right-leave-active {
  transition: opacity 2s;
}
.fade-nav-box-left-leave-to, .fade-nav-box-right-leave-to {
  opacity: 0;
}